.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.514);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 40px;
}