.about {
  width: 100%;
  margin: 60px 0;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px;
  background-color: rgba(202, 235, 255, 0.432);
}

.about>p {
  font-size: 16px;
  text-align: center;
  color: #0E1112;
  width: 100%;
}

.about__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
}

.about__content h3 {
  font-size: 34px;
  color: #0E1112;
  margin-bottom: 20px;
}

.about__content p {
  font-size: 16px;
  line-height: 1.45;
  text-align: center;
  color: #0E1112;
  width: 70%;
  margin-bottom: 20px;
}

.about>.about__details_digits {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.about__details_digits h3 {
  font-size: 16px;
  font-weight: 600;
}

.about__details_digits h3 span {
  font-size: 34px;
  font-weight: 700;
  color: #0E1112;
}



@media screen and (max-width: 600px) {
  .about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 20px;
    background-color: rgba(202, 235, 255, 0.432);
  }

  .about>p {
    font-size: 16px;
    text-align: center;
    color: #0E1112;
    width: 100%;
  }

  .about__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
  }

  .about__content h3 {
    font-size: 24px;
    color: #0E1112;
    margin-bottom: 20px;
  }

  .about__content > p {
    font-size: 14px;
    line-height: 1.45;
    text-align: left;
    color: #0E1112;
    width: 70%;
    margin-bottom: 20px;
    width: 100%;
  }

  .about>.about__details_digits {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }

  .about__details_digits h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }

  .about__details_digits h3 span {
    font-size: 32px;
    font-weight: 600;
    color: #0E1112;
  }
}