*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'Courgette';
  background: transparent;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -ms-touch-select: none;
}

body {
  background-color: rgba(238, 238, 238, 0.479);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
