.showcase {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
}

.showcase>p {
  font-size: 16px;
}

.showcase>.showcase__outline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 0 70px;
}

.showcase>.showcase__outline>h3 {
  font-size: 30px;
}

.showcase__outline>.add__showcase {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 30px;
}

.add__showcase>button {
  padding: 10px 25px;
  font-size: 15px;
  border: 1px solid rgb(7, 103, 199);
  outline: 0;
  border-radius: 5px;
  background-color: rgb(7, 103, 199);
  cursor: pointer;
  color: white;
  transition: 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}


.add__showcase>button>span {
  font-size: 20px;
  margin-right: 10px;
}

.showcase__outline>.showcase__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  row-gap: 50px;
  column-gap: 10px;
  place-content: center;
  margin-top: 20px;
}

.request__template {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 80px 0;
  background-color: rgb(0, 65, 131);
  max-width: 1440px;
  margin: 0 auto;
}

.request__template>h3 {
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}

.request__template>p {
  color: white;
  font-size: 14px;
}

.request__template>a {
  padding: 12px 25px;
  background-color: #fff;
  color: black;
  font-size: 16px;
  border-radius: 5px;
}
.no__showcase {
  text-align: center;
  color: rgb(146, 146, 146);
  font-size: 30px;
}